In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [29]:
data = pd.read_csv('car.csv', header = None)

In [30]:
data.columns = ['price', 'maintenance', 'n_doors', 'capacity', 'size_lug', 'safety', 'class']

In [31]:
data.sample(3)

      price maintenance n_doors capacity size_lug safety  class
332   vhigh         low       2        2      big   high  unacc
1479    low        high       4     more      med    low  unacc
930     med       vhigh       4        4      med    low  unacc

In [32]:
data.price.replace(('vhigh', 'high', 'med', 'low'), (4, 3, 2, 1), inplace = True)
data.maintenance.replace(('vhigh', 'high', 'med', 'low'), (4, 3, 2, 1), inplace = True)
data.n_doors.replace(('2', '3', '4', '5more'), (1, 2, 3, 4), inplace = True)
data.capacity.replace(('2', '4', 'more'), (1, 2, 3), inplace = True)
data.size_lug.replace(('small', 'med', 'big'), (1, 2, 3), inplace = True)
data.safety.replace(('low', 'med', 'high'), (1, 2, 3), inplace = True)

In [33]:
data['class'].replace(('unacc', 'acc', 'good', 'vgood'), (1, 2, 3, 4), inplace = True)

In [34]:
data.head(5)

   price  maintenance  n_doors  capacity  size_lug  safety  class
0      4            4        1         1         1       1      1
1      4            4        1         1         1       2      1
2      4            4        1         1         1       3      1
3      4            4        1         1         2       1      1
4      4            4        1         1         2       2      1

Recomendacion de division

80% aprendizaje

20% pruebas

In [35]:
dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:,6], dtype = 'S6')

In [36]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [37]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [38]:
tr = tree.DecisionTreeClassifier(max_depth = 10)

In [39]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(max_depth=10)

In [40]:
y_pred = tr.predict(X_Test)

In [41]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'1',
       b'1', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [43]:
score = tr.score(X_Test, Y_Test)

In [44]:
print('Precision: %0.4f' % (score))

Precision: 0.9769